.Rproj.user
.Rhistory
.RData
.Ruserdata
experiments/coag
experiments/fruit_loop
experiments/stocks
Stan/new_khatri/stocks.stan
Stan/new_khatri/ribbet_ppca.stan
Stan/new_khatri/ribbet*
Stan/ribbet*
*.html
*.hpp
*.cpp
*.Rdump
*.csv
*.RDS
*.d
*.png
*.DS_Store